@media (max-width: 1024px) {
    .body {
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    }
}
@media (max-width: 833px) {
    .body{
        padding-left: 416px;
        padding-right: 416px;
    }
}
@media (max-width: 320px) {
    .body{
        padding-left: 160px;
        padding-right: 160px;
    }
}
